.r {
  background-color: #154273;
  font-size: 8vw;
  width: 45vw;
  top: 20vh;
  padding: 2vh;
  color: white;
  position: fixed;
  z-index: 10000;
}

/* .r1 {
} */

.r2 {
  right: 0;
}

.margin {
  margin: 5vw;
}

.image {
  border-radius: 50%;
  object-fit: cover;
  width: 10vh;
  height: 10vh;
}
