.route-wrapper {
    position: relative;
  }
  
  .route-wrapper > div {
    position: absolute;
    -webkit-overflow-scrolling: touch;
  }

  .ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
    font-weight: 700;
    font-size: 1em;
    margin-top: -.21425em;
    line-height: 1.4em;
}

@media (max-width: 325px) {
  .ui.button, .ui.orange.button, .ui.big.button{
    font-size: 1rem;
  }

  h1 {
    min-height: 1rem;
    font-size: 2rem;
}
p {
  min-height: 1rem;
  font-size: .85rem;
}
}


  @media (max-width: 767px) and (min-width: 325px){
    .ui.button, .ui.orange.button, .ui.big.button{
      font-size: 1rem;
    }

    h1 {
      min-height: 1rem;
      font-size: 2rem;
  }
  p {
    min-height: 1rem;
    font-size: 1rem;
}
  }
 
  
  @media (min-width: 767px) {
    .ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
      font-size: 2em;
  }

  .ui.button, .ui.orange.button, .ui.big.button{
    font-size: 2rem
  }

  .ui.fluid.card{
    width: 90vw;
  }

  i.big.icon{
    font-size: 5rem;
  }

  .help{
    top: 20vh;
  }

  h1 {
    min-height: 1rem;
    font-size: 4rem;
}
p {
  font-size: 1.5rem;
}
  }

  @media (min-width: 1000px) {

    .ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
      font-size: 3em;
  }
    .ui.button, .ui.orange.button, .ui.big.button{
      font-size: 3rem
    }

    .ui.fluid.card{
      width: 90vw;
    }
  
    i.big.icon{
      font-size: 5rem;
    }
  
    .help{
      top: 20vh;
    }
  
    h1 {
      min-height: 1rem;
      font-size: 4rem;
  }
  p {
    font-size: 2rem;
  }
    }